#button1 {
    background-color: #008730;
    color: white;
    width: 100%;
    font-size: 15px;
  }

  #Home:hover {
    color: green;
  }

  #a {
    text-decoration: none;
    color: white;
  }

  #a:hover {
    color: green;
    text-decoration: none;
  }

  #dashboard:hover {
    color: green;
  }

  #contact:hover {
    color: green;
  }

  #button1:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
  }

  #button2 {
    background-color: #008730;
    color: white;
    width: 130px;
  }

  #button2:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
  }

  #button3 {
    background-color: #008730;
    color: white;
  }

  #button3:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
  }

  .ha {
    position: absolute;
    z-index: 0;
  }

  .ha1 {
    position: absolute;
    display: inline;
    z-index: 0;
    padding-top: 14%;
    padding-left: 45%;
  }

  .ha2 {
    position: absolute;
    display: inline;
    z-index: 0;
    padding-left: 9%;
    padding-top: 9%;
  }

  .ha3 {
    position: absolute;
    display: inline;
    z-index: 0;
    padding-top: 23%;
    padding-left: 26%;
  }

  .ha4 {
    position: absolute;
    display: inline;
    z-index: 1;
    padding-left: 32%;
    padding-top: 9%;

  }

  .ha5 {
    position: absolute;
    display: inline;
    z-index: 0;
    padding-left: 39%;
    padding-top: 30%;
  }

  .ha6 {
    position: absolute;
    display: inline;
    z-index: 0;
    padding-left: 38%;
    padding-top: 5%;
  }

  .ha9 {
    position: absolute;
    margin-top: 40px;
    z-index: 0;
    text-align: end;
  }

  .p1 {
    color: white;
    font-size: 100%;
    text-align: right;
  }

  .p2 {
    text-align: center;
    margin-top: 10px;
    color: #008730;
  }

  #get2 {
    background-color: white;
    font-size: 100%;
    width: 58px;
    height: 55px;
    margin-top: 20px;
    border-radius: 100px;
    border: 3px solid lightblue;
    margin-left: 25px;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    .p1 {
      text-align: center;
    }

    #get2 {
      margin-left: 39%;
    }

    .p3 {
      text-align: center;
    }
    #booking-form{
      width: 400px;
    }
  }

  @media screen and (max-width: 998px) {

    .ha,
    .ha1,
    .ha2,
    .ha3,
    .ha3,
    .ha4,
    .ha5,
    .ha6,
    .ha7,
    .ha8 {
      display: none;
    }

    .ha9,
    .ha10,
    .ha11,
    .ha12,
    .d12,
    .d13,
    .d16,
    .d17,
    .d19 {
      display: none;
    }

    .car1 {
      height: 20%;
      padding: 10% 0;
    }
  }

  #r1 {
    border-right: 1px solid whitesmoke;
  }

  #r2 {
    position: relative;
    width: fit-content;
    bottom: 20%;
    margin-left: 65%;
    border: none;
    border-radius: 10px;
    border-color: #EAF0F2;
    box-shadow: 0 0 20px gray;
  }

  @media screen and (max-width: 834px) {
    #r1 {
      border: none;
    }
  }

  .a1 {
    position: relative;
    bottom: 67%;
    left: 60%;
    background-color: white;
    height: 14%;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
  }

  @media screen and (min-width:768px) and (max-width: 922px) {
    .a1 {
      position: relative;
      bottom: 60%
    }

    #r2 {
      position: relative;
      left: -7%;
    }
  }

  @media screen and (min-width:768px) and (max-width: 799px) {
    .a1 {
      position: relative;
      bottom: 55%
    }

    #r2 {
      position: relative;

    }
  }

  @media screen and (min-width:400px) and (max-width: 582px) {
    .a1 {
      position: relative;
      bottom: 58%;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 450px) {
    #r2 {
      position: relative;
      left: -15%;
    }

  }

  @media screen and (min-width:250px) and (max-width: 400px) {
    .a1 {
      position: relative;
      bottom: 53%;
    }

    #r2 {
      position: relative;
      left: -15%;
    }
  }

  .ico1 {
    font-size: 50px;
    color: green;
    padding-left: 20px;
  }

  .ico2 {
    color: gray;
  }

  .or {
    border: 3px solid whitesmoke;
    border-radius: 100%;

    background-color: white;
    color: green;
  }

  @media screen and (min-width:368px) and (max-width: 768px) {
    #or1 {
      text-align: center;
    }
  }

  .cards:hover {
    background-color: aqua
  }

  #col1:hover {
    background-color: #0dc3a5be;
    color: white;
    box-shadow: 0 0 10px gray;

  }

  #col2:hover {
    background-color: #e62f4abd;
    ;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col3:hover {
    background-color: #0ef0879f;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col4:hover {
    background-color: #fdb307a9;
    ;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col5:hover {
    background-color: #5708f49b;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col6:hover {
    background-color: #ff00779d;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col7:hover {
    background-color: #0e23e3a5;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col8:hover {
    background-color: #f68606b2;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  #col9:hover {
    background-color: #06aff8a3;
    color: white;
    box-shadow: 0 0 10px gray;
  }

  @media screen and (min-width: 368px) and (max-width: 793px) {
    #container {
      display: flex;
      flex-direction: column;
    }

  }

  .c2 {
    margin: 10px 0 10px 25px;
    color: rgb(0, 153, 0);
    height: 25px;
    width: 80px;
    background-color: rgb(153, 238, 153);
  }

  .d12 {
    margin-top: 14%;
    position: absolute;
    z-index: -1;

  }

  .d13 {
    margin-right: 0%;
    position: relative;

    z-index: 1;
  }

  .d14 {
    position: relative;
    left: 4%;
    bottom: 0%;
    border-radius: 10px;
    z-index: 2;
  }

  .d15 {
    /* height: 160px; */
    width: 180px;
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    position: relative;
    bottom: 71%;
    left: 62%;
    z-index: 3;
  }

  .d16 {
    margin-left: 16%;
    margin-top: -15%;
    position: absolute;
    height: 20%;
    width: 10%;
  }

  .d17 {
    height: 70px;
    width: 70px;
    background-color: rgb(224, 241, 241);
    border-radius: 50px;
  }

  .ic5 {
    color: green;
    font-size: 40px;
    margin-left: 29%;
  }

  #c1:hover {
    height: 100%;
    color: white;
    background-color: #008730;
  }

  .c11:hover {
    display: none;
  }

  .img:hover {
    box-shadow: 0 0 20px grey;
  }

  .img1:hover {
    box-shadow: 0 0 20px grey;
  }

  @media only screen and (max-width:768px) {
    #shape9 {
      display: none;
    }

    #shape10 {
      display: none;
    }

    #shape11 {
      display: none;
    }

    #shape6 {
      display: none;
    }

    #shape7 {
      display: none;
    }

    #shape8 {
      display: none;
    }
  }

  .s1 {
    margin: 5% 0% 0% 0%;
    height: 7svh;
    width: 80%;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 2px;
  }

  @media only screen and (max-width:900px) {
    .m1 {
      display: none;
    }

    .b1 {
      width: auto;
    }
  }