.center1{
  /* padding-top: 14%; */
  height: 100svh;
}

.slides{
    position: relative;
    /* top: 50%; */
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100svh;
    background: #f5f5f5;
    /* box-shadow: 0 30px 50px #dbdbdb; */
  }
  .slides .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50p #505050;
    background-position: 50% 50%;
    background-size: cover;
  display: inline-block;
  transition: 0.5s;
  }
  .slide .item:nth-child(1),
  .slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  
  .slide .item:nth-child(3){
    left: 46%;
  }
  
  .slide .item:nth-child(4){
    left:calc(46% + 220px);
  }
  .slide .item:nth-child(5){
    left:calc(46% + 440px);
  }
  .slide .item:nth-child(n + 6){
    left: calc(46% + 660px);
    opacity: 0;
  }
  
  
  .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
  }
  .slide .item:nth-child(2) .content{
    display: block;
  }
   .content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
  
   }
  
   .content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
  
   }
  
   .content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
  
   }
  
   @keyframes animate{
    from{
      opacity: 0;
      transform: translate(0,100px);
      filter: blur(33px);
    }
    to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
    }
   }
  
   .button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
  
   }
   .button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid#0000;
    transition: 0.3s;
   }
  
   .button button:hover{
    background: #ababab;
    color: #fff;
   }
  
  
   .home-page {
    height: 100%;
    overflow: hidden;
  }
  
  .home-data {
    margin-top: 60px;
    padding-left: 50px;
  }
  
  /* .home-img {
     margin-bottom: 20px; 
  } */
  
  .home-data h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .home-data p {
    font-size: 17px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-80px);
    animation: para .5s linear forwards;
    animation-delay: .5s;
    color: blue;
  }
  
  @keyframes para {
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .home-data button {
    opacity: 0;
    transform: translateX(-80px);
    animation: btn .5s linear forwards;
    animation-delay: 1s;
  }
  
  @keyframes btn {
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .home-img img {
    height: 380px;
    margin-left: 50px;
    padding-top: 40px;
  }
  
  .home-img #anim {
    animation-delay: 1.5s;
  }
  
  .home-data h1 {
    opacity: 0;
    transform: translateX(-80px);
    animation: ani .5s linear forwards;
  }
  
  @keyframes ani {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  #animation {
    opacity: 0;
    transform: translateX(100px);
    animation: animate .5s linear forwards;
    animation-delay: 1.5s;
  }
  
  @keyframes animate {
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @media only screen and (max-width: 430) {
    .home-page {
      display: flex;
  
    }
  
    .home-data {
      background-color: green;
    }
  }
  
  #p20 {
    font-size: 50px;
    color: white;
    padding-top: 150px;
    text-align: center;
  }
  
  #p21 {
    font-size: 50px;
    color: white;
    padding-top: 0px;
    text-align: center;
  }
  
  #p22 {
    text-align: center;
    color: white;
  }
  
  #p23 {
    color: white;
    text-align: center;
  }
  
  #p24 {
    color: white;
    text-align: center;
  }
  
  #btn20 {
    height: 45px;
    width: 130px;
    font-size: 17px;
    background-color: #ffb700;
    border-color: yellow;
    border-radius: 50px;
    text-decoration: none;
    padding: 0px;
    border-style: solid;
    box-shadow: 0 0 10px gold;
    font-family: Arial, Helvetica, sans-serif;

    
    margin-bottom: 5%;
  }
  
  #btn20:hover {
    background-color: yellow;
  }
  #btn5
  {
    width: 150px;
    font-size: 130%;
    color: white;
    margin-left: 44%;
    margin-top: -2%;
    margin-bottom: 3%;
    padding: 2px;
  }
   
  
  /* Dropdown Button */
  .dropbtn {
    background: none;
    color: white;
    padding: 10px;
    color: black  ;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

#imgs{
  box-shadow: 0 0 20px white;
  border-radius: 100px;
}

/* #dropdownMenuButton1{
  background-color: rgba(47, 222, 228, 0.903);
  box-shadow: 0 0 10px aqua;
} */
#dropdownMenuButton1:hover{
  background-color: rgba(0, 0, 255, 0.456);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.456);
  
}
#login_btn{
  background:none;
  border-style: solid;
  border-color: rgb(18, 226, 18);
  border-radius:6px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 100px;
}


 
  
  