.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav button {
    color: blue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
  }
  
  nav button:hover {
    background-color: #444;
  }
  
  .auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-form {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
    color: #3a6186;
  }
  
  .auth-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .auth-form input:focus {
    border-color: #3a6186;
  }
  
  .btn-submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #3a6186;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-submit:hover {
    opacity: 0.9;
  }
  
  .toggle-link {
    margin-top: 15px;
    color: #3a6186;
    cursor: pointer;
  }
  
  .toggle-link span {
    font-weight: bold;
    color: #89253e;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  